<div>
  <h2>Pretraži Studenta</h2>
  <input [(ngModel)]="jmbg" placeholder="Unesi JMBG" />
  <button (click)="searchStudent()">Pretraži</button>

  <div *ngIf="student">
    <h3>Detalji Studenta</h3>
    <p>Ime: {{student.ime}}</p>
    <p>Prezime: {{student.prezime}}</p>
    <p>Godina Studiranja: {{student.godinaStudiranja}}</p>
    <p>Osvojeni Bodovi: {{student.osvojeniBodovi}}</p>
    <p>Prosek: {{student.prosek}}</p>

    <div>
      <label for="konkursId">ID Konkursa:</label>
      <input [(ngModel)]="konkursId" id="konkursId" placeholder="Unesi ID Konkursa" type="number" />
    </div>
    <button (click)="applyForCompetition()">Prijavi se na Konkurs</button>
  </div>

  <div *ngIf="successMessage">
    <p>{{successMessage}}</p>
  </div>

  <div *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
</div>
